{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JewelJoy Box - Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </div>
        <img src="{% static 'imagenes/logo.png' %}" alt="JewelJoy Box" class="logo">
        <div class="nav-right">
            <a href="{% url 'register' %}" class="profile-link"><i class="fas fa-user profile-icon"></i></a>
            <a href="{% url 'cart' %}" class="cart-link"><i class="fas fa-shopping-cart cart-icon"></i></a>
        </div>
    </header>
    <!--Menu interactivo -->
    <nav id="menu" class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'register' %}">Registro</a></li>
            <li><a href="{% url 'who' %}">Quienes Somos</a></li>
        </ul>
    </nav>
    <main>
        <div class="product-menu">
            <div class="product-card">
                <img src="{% static 'imagenes/misterybox.webp' %}" alt="Producto 1" class="product-image">
                <h3>Caja Misteriosa</h3>
                <p>Encuentra 3 productos aleatorios de esta colección.</p>
                <p class="product-price">$490</p>
                <button onclick="addToCart('Caja Misteriosa', 490, '{% static 'imagenes/misterybox.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/cadena2.jpg' %}" alt="Producto 2" class="product-image">
                <h3>Collar de Oro</h3>
                <p>Un elegante collar.</p>
                <p class="product-price">$190</p>
                <button onclick="addToCart('Collar de Oro', 190, '{% static 'imagenes/cadena2.jpg' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/cadena3.jpg' %}" alt="Producto 4" class="product-image">
                <h3>Cadena delgada oro amarillo</h3>
                <p>Una cadena delicada.</p>
                <p class="product-price">$210</p>
                <button onclick="addToCart('Cadena delgada oro amarillo', 210, '{% static 'imagenes/cadena3.jpg' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/anillo esmeralda.webp' %}" alt="Producto 3" class="product-image">
                <h3>Anillo de Esmeralda</h3>
                <p>Anillo delicado de esmeralda princesa.</p>
                <p class="product-price">$170</p>
                <button onclick="addToCart('Anillo de Esmeralda', 170, '{% static 'imagenes/anillo esmeralda.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/anillo3.webp' %}" alt="Producto 3" class="product-image">
                <h3>Anillo estrella</h3>
                <p>Estrella con brillante.</p>
                <p class="product-price">$205</p>
                <button onclick="addToCart('Anillo estrella', 205, '{% static 'imagenes/anillo3.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/anillo4.webp' %}" alt="Producto 3" class="product-image">
                <h3>Anillo mariposa</h3>
                <p>Mariposa amatista</p>
                <p class="product-price">$190</p>
                <button onclick="addToCart('Anillo mariposa', 190, '{% static 'imagenes/anillo4.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/anillo5.webp' %}" alt="Producto 3" class="product-image">
                <h3>Anillo mariposa</h3>
                <p>Mariposa verde esmeralda.</p>
                <p class="product-price">$185</p>
                <button onclick="addToCart('Anillo mariposa verde esmeralda', 185, '{% static 'imagenes/anillo5.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/anillo6.webp' %}" alt="Producto 3" class="product-image">
                <h3>Anillo piedras azules</h3>
                <p>Anillo de piedras lapizlazuli.</p>
                <p class="product-price">$200</p>
                <button onclick="addToCart('Anillo piedras azules', 200, '{% static 'imagenes/anillo6.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/aretes1.webp' %}" alt="Producto 3" class="product-image">
                <h3>Aretes Ojo</h3>
                <p>Ojos turcos.</p>
                <p class="product-price">$150</p>
                <button onclick="addToCart('Aretes Ojo', 150, '{% static 'imagenes/aretes1.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/aretes2.webp' %}" alt="Producto 3" class="product-image">
                <h3>Aretes de perla</h3>
                <p>Delicados Aretes de perla de rio.</p>
                <p class="product-price">$140</p>
                <button onclick="addToCart('Aretes de perla', 140, '{% static 'imagenes/aretes2.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/aretes3.webp' %}" alt="Producto 3" class="product-image">
                <h3>Aretes Luna</h3>
                <p>Aretes de piedra de luna.</p>
                <p class="product-price">$120</p>
                <button onclick="addToCart('Aretes Luna', 120, '{% static 'imagenes/aretes3.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/pulsera1.webp' %}" alt="Producto 3" class="product-image">
                <h3>Pulsera cosmo</h3>
                <p>Una lujosa pulsera de plata.</p>
                <p class="product-price">$300</p>
                <button onclick="addToCart('Pulsera cosmo', 300, '{% static 'imagenes/pulsera1.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/pulsera2.webp' %}" alt="Producto 3" class="product-image">
                <h3>Pulsera de Luna</h3>
                <p>Una lujosa pulsera de piedra imitacion jade.</p>
                <p class="product-price">$190</p>
                <button onclick="addToCart('Pulsera de Luna', 190, '{% static 'imagenes/pulsera2.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/pulsera3.webp' %}" alt="Producto 3" class="product-image">
                <h3>Pulsera Estrellas</h3>
                <p>Una delicada pulsera de estrellas.</p>
                <p class="product-price">$189</p>
                <button onclick="addToCart('Pulsera Estrellas', 189, '{% static 'imagenes/pulsera3.webp' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/cadena15.png' %}" alt="Producto 3" class="product-image">
                <h3>Collar de Corazones</h3>
                <p>Un hermoso collar de corazones dorado.</p>
                <p class="product-price">$130</p>
                <button onclick="addToCart('Collar de Corazones', 130, '{% static 'imagenes/cadena15.png' %}')">Comprar</button>
            </div>
            <div class="product-card">
                <img src="{% static 'imagenes/cadena16.jpg' %}" alt="Producto 3" class="product-image">
                <h3>Collar signos</h3>
                <p>Collar signos.</p>
                <p class="product-price">$100</p>
                <button onclick="addToCart('Collar signos', 100, '{% static 'imagenes/cadena16.jpg' %}')">Comprar</button>
            </div>
        </div>
    </main>
    <script>
        function addToCart(productName, productPrice, productImage) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            const productIndex = cart.findIndex(item => item.name === productName);

            if (productIndex > -1) {
                cart[productIndex].quantity += 1;
            } else {
                cart.push({ name: productName, price: productPrice, image: productImage, quantity: 1 });
            }

            localStorage.setItem('cart', JSON.stringify(cart));
            alert(productName + ' ha sido añadido al carrito.');
        }
    </script>
</body>
</html>

