{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JewelJoy Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </div>
        <img src="{% static 'imagenes/logo.png' %}" alt="JewelJoy Box" class="logo">
        
        <div class="nav-right">
            <a href="{% url 'register' %}" class="profile-link"><i class="fas fa-user profile-icon"></i></a>
        </div>
    </header>
    <!--Menu interactivo -->
    <nav id="menu" class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'register' %}">Registro</a></li>
            <li><a href="{% url 'who' %}">Quienes Somos</a></li>
        </ul>
    </nav>
    <main>
    <!--    <div class="container">
            <div class="image">
                <img src="{% static 'imagenes/modelo.jpg' %}" alt="JeweljoyBOX">
            </div>        -->
        <div class="container2">
            <div class="content2">
                <h1>¿Quienes Somos?</h1>
                <p>
                JewelJoy es una plataforma de e-commerce dedicada a la venta de cajas sorpresa de joyas.<br>
                 Este modelo de negocio se basa en la emoción y expectativa generada <br>
                 por la compra de una caja cuyo contenido es desconocido hasta el momento de recibirla. <br>
                 Además de las ventas directas, JewelJoy ofrece planes de suscripción y <br>
                 colaboraciones con diseñadores para ediciones limitadas.<br></p>
                <p>Deja que tu personalidad brille <br>con piezas hechas a mano<br> confeccionadas solo para ti.</p>
                <div class="image2">
                    <img src="{% static 'imagenes/pulsera.jpg' %}" alt="JeweljoyBOX">
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
</body>
</html>

