body {
    background-color: #f8e8e8; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8e8e8; 
    border-bottom: 1px solid #ccc;
    position: relative;
}

.nav-left, .nav-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.logo {
    max-width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-icon, .profile-icon, .cart-icon {
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
}

.profile-link {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    padding: 20px;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

p {
    margin-top: 20px;
    color: #666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Estilos para el menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .menu ul li a:hover {
    background-color: #f8e8e8;
  }
  