<!--{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JewelJoy Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </div>
            <img src="{% static 'imagenes/logo.png' %}" alt="JewelJoy Box" class="logo">
        
        <div class="nav-right">
             <a href="{% url 'register' %}" class="profile-link"><i class="fas fa-user profile-icon"></i></a>

        </div>

    </header>
    Menu interactivo 
    <nav id="menu" class="menu">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="login.html">Collares</a></li>
            <li><a href="register.html">Anillos</a></li>
            <li><a href="select.html">Aretes</a></li>
        </ul>
    </nav>
    <main>
    <div class="container">
        <div class="image">
            <img src="{% static 'imagenes/modelo.jpg' %}" alt="JeweljoyBOX">
        </div>
        <div class="content">
            <h1>JeweljoyBOX</h1>
            <p>Joyas y Accesorios</p>
            <button>Compra ya</button>
        </div>
    </div>
    
    <div class="container2">
        <div class="content2">
            <h1>Hecho para ti</h1>
            <p>Deja que tu personalidad brille <br>con piezas hechas a mano<br> confeccionadas solo para ti.</p>
            <div class="image2">
                <img src="{% static 'imagenes/pulsera.jpg' %}" alt="JeweljoyBOX">
            </div>
        </div>
    </div>
    </main>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JewelJoy Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </div>
        <img src="{% static 'imagenes/logo.png' %}" alt="JewelJoy Box" class="logo">
        
        <div class="nav-right">
            <a href="{% url 'register' %}" class="profile-link"><i class="fas fa-user profile-icon"></i></a>
        </div>
    </header>
    <!-Menu interactivo ->
    <nav id="menu" class="menu">
        <ul>
            <li><a href="home.html">Inicio</a></li>
            <li><a href="login.html">Collares</a></li>
            <li><a href="register.html">Anillos</a></li>
            <li><a href="select.html">Aretes</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="image">
                <img src="{% static 'imagenes/modelo.jpg' %}" alt="JeweljoyBOX">
            </div>
            <div class="content">
                <h1>JeweljoyBOX</h1>
                <p>Joyas y Accesorios</p>
                <a href="{% url 'productos' %}" class="btn-comprar">Compra ya</a>
            </div>
        </div>
        
        <div class="container2">
            <div class="content2">
                <h1>Hecho para ti</h1>
                <p>Deja que tu personalidad brille <br>con piezas hechas a mano<br> confeccionadas solo para ti.</p>
                <div class="image2">
                    <img src="{% static 'imagenes/pulsera.jpg' %}" alt="JeweljoyBOX">
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
</body>
</html>

